/* variables */
$common-margin : 20px;

/* calculate the width of the column */
@function calculate-width($containerWidth, $number-of-cols :0 ){
	@return ($containerWidth - (($number-of-cols - 1) * $common-margin)) / $number-of-cols;
}

body{ font-family: $secondary-font; }

/* - Main colums and main layout  - */
.container{
	margin: 0 auto;
	padding: 10px;	
	/* mobile view */
	@media (min-width: $small-width){
		width: $small-width;		 		
	}	
	@media (min-width: $medium-width){
		width:$medium-width;		 		
	}
	@media (min-width: $large-width){
		width:$large-width;		  		
	}
	@media (min-width: $xlarge-width){
		width:$xlarge-width;	 		
	}	
}

.col-container{
	@include clearfix;
	margin-bottom: 50px;
}

.col{
	
	margin-top: $common-margin;
	padding-top: $common-margin;
	min-height:1px;
	&:first-child{ margin-top:0; padding-top:0; border:none; }
	
	@media (min-width:$medium-width){
		float:left;	
		margin-top:0;
		padding-top:0;
		border:none;
	}
}

.col-1{  width:100%; }

.col-2{
	$number-of-cols : 2;
			
	@media (min-width:$medium-width){		
		width: calculate-width($medium-width,$number-of-cols);
		margin-left: $common-margin;
		&:first-child{ margin-left:0; }
	}
	
	@media (min-width:$large-width){		
		width: calculate-width($large-width,$number-of-cols);
		margin-left: $common-margin;
		&:first-child{ margin-left:0; }
	}
	@media (min-width:$xlarge-width){		
		width: calculate-width($xlarge-width,$number-of-cols);
		margin-left: $common-margin;
		&:first-child{ margin-left:0; }
	}
}

.col-3{
	$number-of-cols : 3;
	
	@media (min-width:$medium-width){		
		width: calculate-width($medium-width,$number-of-cols);
		margin-left: $common-margin;
		&:first-child{ margin-left:0; }
	}	
	@media (min-width:$large-width){		
		width: calculate-width($large-width,$number-of-cols);
		margin-left: $common-margin;
		&:first-child{ margin-left:0; }
	}
	@media (min-width:$xlarge-width){		
		width: calculate-width($xlarge-width,$number-of-cols);
		margin-left: $common-margin;
		&:first-child{ margin-left:0; }
	}
}

.col-5{
	$number-of-cols : 5;
	
	@media (min-width:$medium-width){		
		width: calculate-width($medium-width,$number-of-cols);
		margin-left: $common-margin;
		&:first-child{ margin-left:0; }
	}
	
	@media (min-width:$large-width){		
		width: calculate-width($large-width,$number-of-cols);
		margin-left: $common-margin;
		&:first-child{ margin-left:0; }
	}
	@media (min-width:$xlarge-width){		
		width: calculate-width($xlarge-width,$number-of-cols);
		margin-left: $common-margin;
		&:first-child{ margin-left:0; }
	}
}
/* details */
div.container:nth-child(2) > div:nth-child(1) { margin-top: 20px;}

/* main article (top) */
.main_article {
	@media (min-width: $small-width){
		float: none;
	}
	@media (min-width: $medium-width){
		float: left;
	}
	}
.main_articleImg { 
	@media (min-width: $small-width){
		width: 100%;
	}
	@media (min-width: $medium-width){
		width: 66%; margin-right: 2%;
	}
}
.main_articleText { 
	@media (min-width: $small-width){
		width: 100%;
	}
	@media (min-width: $medium-width){
		width: 32%;
	}}
div.articleText-holder:nth-child(2) > p:nth-child(1) { border-bottom: none;}
div.container:nth-child(2) > div:nth-child(1) { padding-bottom: 0px; margin-bottom: 10px;}
div.container:nth-child(2) > div:nth-child(2) > div:nth-child(1) { height: 1px; background-color: #CCC; padding: 0; margin: 0; }
div.articleText-holder:nth-child(2) > p:nth-child(1) { @include font-size(10); line-height: 24px;}


.article-title:hover { color : $color3;}

/* - inside of the colum, articles - */

.defer-image{	
		@media (min-width:$medium-width){		
		width: 100%;
		float: none;
	}
}
.article-holder{
	margin-top: 0;
	padding-top: 0;
	@media (min-width:$small-width){		
		width: 100%;
		float: none;
	}
	
}
.article-tag {
	font-family :$primary-font;
	font-weight: bold;
	@include font-size(8);
	text-transform: uppercase;
	@media (min-width: $small-width){
				 		
	}	
	@media (min-width: $medium-width){
		width:$medium-width;		 		
	}
	@media (min-width: $large-width){
		width:$large-width;		  		
	}
	@media (min-width: $xlarge-width){
		width:$xlarge-width;	 		
	} 
}

.articleText-holder {
	padding-top: 10px;
	clear: both;
}
.article-info {@include font-size(8); font-weight: lighter; line-height:20px;}

.article-title { font-weight: bold; }

.article-text {@include font-size(9); line-height: 22px; font-weight: lighter; padding-bottom: 10px; /*border-bottom: 2px solid $color5;*/}



/* -- the banner (for most videos)  -- */
.banner{
	min-height:300px;
	background: rgb(244,226,156);
background: -moz-linear-gradient(-45deg, rgba(244,226,156,0) 0%, rgba(59,41,58,1) 100%), -moz-linear-gradient(left, rgba(244,226,156,1) 0%, rgba(130,96,87,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(244,226,156,0) 0%,rgba(59,41,58,1) 100%), -webkit-linear-gradient(left, rgba(244,226,156,1) 0%,rgba(130,96,87,1) 100%);
background: -o-linear-gradient(-45deg, rgba(244,226,156,0) 0%,rgba(59,41,58,1) 100%), -o-linear-gradient(left, rgba(244,226,156,1) 0%,rgba(130,96,87,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(244,226,156,0) 0%,rgba(59,41,58,1) 100%), -ms-linear-gradient(left, rgba(244,226,156,1) 0%,rgba(130,96,87,1) 100%);
background: linear-gradient(135deg, rgba(244,226,156,0) 0%,rgba(59,41,58,1) 100%), linear-gradient(to right, rgba(244,226,156,1) 0%,rgba(130,96,87,1) 100%);
}

div.container:nth-child(1) { padding-top: 40px;}
.BDOtitle1 { float: left; color: white; }
.BDOtitle2 { float: right; }
.BDOtitle2 a { color: white;}

.banner .article-title {@include font-size(9); line-height: 7px; }
.Most_main > h1:nth-child(1),.Most_aside > h1:nth-child(1) {@include font-size(9)}
.Most_aside > h1:nth-child(1) { padding-left: 24px;}

/* most kitty stories and upcoming aside */

.Most_main { 
	width: 100%;
	
	
	@media (min-width: $small-width){
				 		
	}
	@media (min-width: $medium-width){
		float: left;
	width: 65%;
		border-right: 1px solid lightgrey;		 		
	}		
}

.Most_aside {
width: 100%;
	@media (min-width: $medium-width){
	float: left;
	width: 34%; 
	}
}

.purrArticle { border-bottom: 1px solid lightgrey; @include clearfix; padding-bottom: 20px;padding-top: 20px;
@media (min-width: $medium-width){
 width: 95%;	 		
	}}


.purr_articleImg { width : 40%; float: left;}
.purr_articleText { padding-left:2%;width: 58%;float: left;}

.upArticle {  width: 100%;float: right; padding-bottom: 10px;padding-top: 20px;
@media (min-width: $medium-width){
 width: 92%;	 		
	} }
.upArticle h2 {@include font-size(10);}

				
.hovers {
	
	img {float:left; margin-right: 5px;}
	p { float:left; color : $color3; @include font-size(8);margin-right: 5px;}
	
	}