
.topNav-container { 
	@include clearfix;
	min-height: 10px; 
	position: relative; 
	padding-top: 25px; 
	border-bottom: 2px solid lightgrey;
	
	@media (min-width:$small-width){
		height: 50px;
		padding-top:15px;	
	}
}

.header_container {width: 85%; margin: 0 auto;
	@include clearfix;
	@media (min-width: $small-width){
		min-width: $small-width;		 		
	}	
	@media (min-width: $medium-width){
		min-width:$medium-width;		 		
	}
	@media (min-width: $large-width){
		min-width:$large-width;		  		
	}
	@media (min-width: $xlarge-width){
		min-width:$xlarge-width;	 		
	}	
}

.logo-container img {width: 100%; height: 100%; margin-top: -13px;}

.logo-container { float: left; height: 60px; width: 163px;}

.main-nav { float: left; 
	ul{ padding:0; margin:0; margin-top: 50px;  width:100%; } 
	li{ margin-top:1em; list-style: none;}
	li:first-child{ margin-top:0; }
	a{ display:block;  padding:0.5em; text-align:center; color:$color1; }
	a:hover{ color :$color2;}
	@media (min-width:$small-width){
		
		ul {  margin:0;}
		li { float:left; margin-left:0.3em; margin-top:0; }
		li:first-child{ margin-left:0; }
		a{ padding:0.5em 0.5em 0; text-align:left; }	
	}
	
	@media (min-width:$medium-width){
		
		ul {  margin:0;}
		li { float:left; margin-left:0.3em; margin-top:0; }
		li:first-child{ margin-left:0; }
		a{ padding:0.5em 0.5em 0; text-align:left; }	
	}

}
.social-nav { float:right;ul{ padding:0; margin:0; }
	li{ margin-top:2em; list-style: none; }
	li:first-child{ margin-top:0; }
	a{ display:block;  padding:1em; text-align:center;  @include font-size(9);}
	a:hover { color: $color3; }
	display:none;	
	@media (min-width:$small-width){
			
		ul { @include clearfix; }
		li { float:left; margin-left:0.3em; margin-top:0; }
		li:first-child{ margin-left:0;}
		a{ padding:0.5em 0.3em 0; text-align:left;font-weight:lighter; color: $color1; }
		
	}
	
	@media (min-width: $medium-width){
			 		
	}
	@media (min-width: $large-width){
		display: block;			 		
	}

}

.signIn { float: right; padding:0.4em 0.7em 0; } 
.signIn a { color: $color3; }
.signIn a:hover {color:$color3;}
.search { float: right; padding:0.5em 0.7em; margin-top: 9px; margin-left: 10px; background-image: url('../images/search_normal.png'); background-repeat: no-repeat; width:18px; height: 18px;}

.search:hover {background-image: url('../images/search.png');}

.main-nav > ul:nth-child(1) > li:nth-child(1) > a:nth-child(1) { color: $color2;}