/* --- Normalize -- */
@import 'normalize';

/* --- Mixins -- */
@import 'mixin';

/* -- variables -- */

/*Screen sizes*/
$small-width : 600px;
$medium-width : 768px;
$large-width: 1024px;
$xlarge-width: 1026px;


$primary-font : 'Raleway', sans-serif;
$secondary-font : 'Roboto', sans-serif;

$color1: red;
$color2: blue;
$color3: green;
$color4: pink;
$color5: black;

/* -- Navigation components -- */
@import 'navigation';

/* -- Layout Components -- */
@import 'layout';

/* text formats */
 
h1,h2,h3,h4,p{padding:0;margin:0; text-style: none; font-weight:lighter}
    
h2 { font-family: $primary-font;}        
a, a:hover, a:after {text-decoration: none; color: black;}