/* --- Normalize -- */
@import 'normalize';

/* --- Mixins -- */
@import 'mixin';


/* -- variables -- */

$large-width : 1020px;
$medium-width : 500px;


$primary-font : arial;


body{ border: 1px solid red; }

h2 { font-family: $primary-font ; @include font-size(22); }

/* -- Banner Components -- */
.banner{
	height:300px;
	background:#000;
}


/* -- Navigation components -- */
@import 'navigation';

/* -- Layout Components -- */
@import 'layout';
